@import "src/variables";

.alert{
  position: fixed;
  right: 5%;
  top: 5%;
  padding: 1rem;
  background: $lightPink;
  z-index: +1100;
  display: flex;
  transition: 0.4s ease;

  p{
    margin: 0;
  }

  p:nth-child(2){
    margin-left: 0.8rem;
    cursor: pointer;
  }
}