@import "src/variables";

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 100%;
  margin: 1rem 0;

  input {
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 40px;
  }
}

.fileCustom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 40px;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: $bg;
  border: .075rem solid $textColor;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;

  &:before {
    position: absolute;
    top: -.075rem;
    text-align: center;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Browse";
    padding: .5rem 1rem;
    line-height: 1.5;
    color: $bg;
    background-color: $textColor;
    border: .075rem solid $textColor;
    border-radius: 0 .25rem .25rem 0;
    width: 10%;
  }
}

.submit{
  height: 40px;
  background: $darkPink;
  border: none;
  outline: none;
  color: $bg;
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  margin: 0.4rem 0;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.error{
  margin: 0;
  font-size: 14px;
}