@import "src/variables";

.restaurant{
  width: 330px;
  height: 330px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 1px 60px rgba(34, 36, 40, 0.1);
  position: relative;
  overflow: hidden;
  color: $bg;
  z-index: 3;
  cursor: pointer;
  margin: 8px;

  .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $textColor;
    z-index: +2;
    opacity: 0.5;
  }

  .text{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 95%;
    z-index: +10;
    text-align: left;

    h1{
      font-size: 28px;
      margin: 0;
    }

    p{
      font-size: 18px;
      margin: 0;

      span{
        color: #FFC107;
      }
    }

    .stars{
      display: flex;

      .star{
        width: 22px;
        height: 22px;
        background-size: cover;
        margin-right: 0.4rem;
      }
    }
  }
}