@import "src/variables";

.restaurants{
  text-align: center;
  margin: 10rem 0 2rem 0;

  h3{
    margin: 1rem 0 -0.4rem 0;
    font-size: 24px;
    font-weight: bold;
  }

  h2{
    margin: 0 0 0.4rem 0;
    font-size: 36px;
    font-weight: 900;
  }

  p{
    margin: 0;
  }

  .allRestaurants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1102px) {
  .restaurants .allRestaurants{
    justify-content: center;
  }
}